@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  
  width: 100%;
}
.container {
  width: 100%;
  background: linear-gradient(90deg, #4da5b8 0%, #51a2cf 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  height: 120px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 1000;
  border:2px inset black;
  border-bottom: none;
  border-radius: 2px;
}
.left-bar {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration-style: dashed;
}
.right-bar {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration-style: dashed;
}
nav {
  height: 100%;
  width: 30%;
}
ul {
  display: flex;
}

ul li {
  list-style: none;
  margin: 0 3em;
  padding: 1em 1.2em;
  color: white;
  border-radius: 2em;
  transition: 0.3s;
  font-size: large;
}

ul li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

section.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  max-height: 100%;
  padding-top: 50px;
}
section.banner img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
section.banner span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  margin: 0 auto;
  font-size: 100px;
  font-weight: 200px;
  line-height: 0.75;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.content {
  height:20%;
  background-color:antiquewhite;
  display: flex;
  align-items: center;
  justify-content:center;
  padding:100px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border:5px inset black;
}
.content p{
  width:60%;
  display: block;
  font-size:x-large;
  color:black;
}
.bottom {
  height:40%;
  position: relative;    
}

.bottom .slide-nav{
  position: absolute;
  bottom: 0;
  left: 310px;
}

.bottom .slide-area{
  position: relative;
}

.bottom .slide-area .slide-image{
  opacity: 0;
  height: 100%;
  position: absolute;
  animation: fadeOut 1s;
  width: 100%;
  left:0;
}

.bottom .slide-area .slide-image.active{
  opacity: 1;
  position: unset;
  animation: fadeIn 1s;
}


.bottom .slide-nav .slide-image{
  width: 10rem;
  margin: 0 .5rem;
  border-radius: 4px;
}

.bottom .slide-nav .slide-image.active{
  border: 1px solid #fff;
  opacity: .5;
}

@keyframes fadeIn{
  0%{opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut{
  0%{opacity: 1;}
  100% {opacity: 0;}
}
